@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.login{
  background-repeat: no-repeat;
  background-size: cover;
}

.active {
  color: white;
}

.inner{
  display: flex;
  gap: 10px;
}

.item-image{
  min-height: 200px;
  min-width: 400px;
}

.item-image img {
  max-width: 400px;
  min-height: 200px;
  max-height: 400px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  pointer-events: none;
}

.msg-width{
  width: 300px;
  left: calc(50%-);
}